table {
    border-collapse: collapse;
}

td {
    border: 1px solid #999;
    height: 1.4em;
    width: 1.4em;
    padding: 0;
}

.cell--real {
    cursor: pointer;
}

.cell--mood-1 {
    background: blue;
}

.cell--mood-2 {
    background: green;
}

.cell--mood-3 {
    background: yellow;
}

.cell--mood-4 {
    background: grey;
}

.cell--mood-5 {
    background: red;
}

.cell--mood-6 {
    background: purple;
}

.cell--mood-7 {
    background: cyan;
}

.cell--current {
    outline: 2px solid #333;
}

span.cell {
    display: inline-block;
    border: 1px solid #999;
    height: 1.4em;
    width: 1.4em;
    padding: 0;
    cursor: pointer;
}